.my-container {
  background: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 50px;

  font-family: "Motiva Sans", Sans-serif;
  color: #ffff;

  min-width: 100vw;
  min-height: 100vh;
  overflow: auto;
}
#steam-logo {
  width: 176px;
  aspect-ratio: auto 176 / 44;
  height: 44px;
}

.steam-nav{
  background: #171a21;
  height: 104px;
  width: 100%;
}

.steam-nav a, .search-results a
{  
  font-size: 14px;
  color: #b8b6b4 !important;
  font-family: "Motiva Sans", Sans-serif;
  cursor: pointer;
}

.steam-nav .nav-link {
  padding-top:0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
}

.steam-toggle-btn {
  background-image: url('https://store.akamai.steamstatic.com/public/shared/images/responsive/header_menu_hamburger.png');
  background-size: cover;
  height: 31px;
  width: 36px;
}

.collapse-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.collapse-content a{
  padding: 10px;
}

.steam-nav a:hover{
  text-decoration: none;
  color: #ffffff !important;
  
}

@media only screen and (min-width: 600px) {
.mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .steam-nav .nav-link {
    display: none;
  }
  .steam-nav{
    height: auto;
    padding: 15px !important;
  }
  .mobile-nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  #contents{
    flex-direction: column;
    align-items: center;
  }

  #contents ul{
    height: 15vh;
    width: 80vw;
  }
}

/* ___________________SEARCH BAR____________________ */


.search-bar #search {
  font-family: Arial, Helvetica, sans-serif;
  color: #c6d4df;
  font-size: 12px;

  background-image: none;
  background-color: #316282;
  border-radius: 3px;
  border: 1px solid rgba( 0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgb(255 255 255 / 20%);
  color: #fff;

  margin-bottom: 0px;
  outline: none;
  height: 25px;
  width: 30% ;
  


  margin: 0px 6px 0px 0px;
  padding-left: 10px;
  
}


.steam-search-btn {
  background-image: url('https://cdn.discordapp.com/attachments/607743975595704349/1009476630563012618/unknown.png');
  background-size: cover;
  height: 25px;
  width: 25px;
}

.sortBtns a{
  background-color: #171a21;
  color: #b8b6b4 ;
  text-decoration: none;
  margin: 0px 5px;
  padding: 10px;
  border-radius: 5px;
}

.sortBtns a:hover{
  color:white;
  text-decoration: none;
}



/* ___________________CAROUSEL____________________ */

#steam-carousel {
  position: relative;
  background: rgba( 0, 0, 0, 0.2 );
  height: 215px;
  width: 60vw;
  max-width: 460px;
}

.carouselBtn {
  background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
  border: none;
  height: 100%;
  
  color: rgba(255, 255, 255, 0.719);
  font-size: 5rem;
  cursor: pointer;
  z-index: 1;
}

.carouselBtn:hover {
  background: #171a21;
  color: #fff;
}

.prev-button{
  position: absolute;
  left: -60px;    
}

.next-button{
  position: absolute;
  right: -60px;    
}


#steam-carousel .games-info{
  position: absolute;
  bottom: 0px;
  background-color: #171a21;

  height: 100px;
  width: 60vw;
  max-width: 663px;
  opacity: 0.8;
}

.carousel-dots {
  z-index: 99;
  position: absolute;
  bottom: -107px;
}

.carousel-dots .dot{
  margin: 12px 2px;
  width: 15px;
  height: 9px;
  border-radius: 2px;
  background-color: hsla(202,60%,100%,0.2);
  cursor: pointer;
}

.games-info a{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.games-info a:hover {
  text-decoration: underline;
  color: white;
}

#steam-carousel li {
  list-style: none;
  margin: 0; 
}

.crs-slide, #crsGameDetails .detail {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 100ms;
}

.crs-slide[data-active],#crsGameDetails .detail[data-active] {
  opacity: 1;
  z-index: 0;
  transition-delay: 0ms;
}




#steam-carousel img{
  max-width: 100%;
  height: 100%;
  object-fit:cover;
}

.carousel-dots .dot[data-active]{
  background-color: #fff;
}

#crsGameDetails {
  background-color: #1B2838;
  height: 110px;
  width: 100%;
  max-width: 580px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 216px;
}
/* ___________________SEARCH RESULT____________________ */


.games-list{
  background:radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%) ;
  
  max-width: 700px;
}

.games-list img, #genresList img{
  aspect-ratio: 184/69;
  max-height: 69px;
}

.game-item:hover, .resultPageNav button:hover{
  background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
  color: black;
}

.game-link:hover, .game-item:hover .game-link{
  text-decoration:none ;
  color: black;
}

.game-link, .resultPageNav button{
  text-decoration: none;
  color: #fff;
}

.resultPageNav button{
  background:radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%) ;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

.price{
  width: 89px;
}

#searchResults {
  margin-top: 122px;
}


/* ___________________DETAIL PAGE____________________ */

#detailsDiv {
  width: 60vw;
  max-width: 460px;
  margin-top: 4em;
}

#detailsDiv img{
  width: 100%;
}

#detailName {
  font-size: larger;
  text-transform: uppercase;
}
.detailInfo {
  
  width: 100%;
  
  padding: 15px;

  background-color: #23262E;

  display: flex;
  justify-content: center;
  

}

/* ___________________SIDEBAR____________________ */

ul{
  height: 65vh;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

#contents ::-webkit-scrollbar{
  width: 20px;
}

#contents ::-webkit-scrollbar-track {
  background-color: #1B2838;
  /* Safari and Chrome */
}

#contents ::-webkit-scrollbar-thumb {
  background-color: #2A475E;
  /* Safari and Chrome */
}

.sidebar li{
  padding: 6px;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.20);
}

.sidebar a:hover {
  color: white;
  text-decoration: none;
}

.sidebar a{
  color: #9FBBCB;
  text-decoration: none;
}
#genresList {
  position:sticky;
  top:0;
}